* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Pacifico', cursive;
}

#inCity {
    border: 1px solid rgb(89, 89, 89);
    width: 90%;
}

#sButton {
    width: 100%;
}

.iSection {
    border-bottom: 10px double #888888 ;
    }

.cityOutput {
    font-family: 'Fredoka One', cursive;
}

#cWeath {
    border-bottom: 2px solid #888888;
}

.fTitle {
    font-family: 'Fredoka One', cursive;
    margin-bottom: 10px;
}

.days {
   font-size: 22px;
    background-color: rgb(0, 1, 76);
    border: 1px solid rgb(0, 0, 0);
    color: white;
    border-radius: 20px;
    margin: 5px;
}

#cList {
    border-radius: 15px;
}

#col1 {
    border-right: 2px solid grey;
}